<%= form_for(@artist, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <p class="notification flash_error">
        <%= pluralize(@artist.errors.count, "error") %> prohibited this publisher from being saved:
      </p>

      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="control-label">
      <%= f.label :pre_name, 'Prefix' %>
    </div>
    <div class="controls">
      <%= f.text_field :pre_name, :placeholder => 'E.G. "The"' %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :first_name, 'First Name' %>
    </div>
    <div class="controls">
      <%= f.text_field :first_name, :placeholder => 'First Name of an individual' %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :name %>
    </div>
    <div class="controls">
      <%= f.text_field :name, :placeholder => 'Name or Surname' %>
    </div>
  </div>
  <div class="control-group">
    <div class="form-actions">
      <%= f.submit :class => 'btn btn-warning' %>
      <%= submit_tag 'Cancel', :type => 'button', :class => 'btn btn-info', 
                     :onclick => "location.href = '#{artists_path()}'" %>
    </div>
  </div>
<% end %>
