<%= form_for(@label, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @label.errors.any? %>
    <div id="error_explanation">
      <p class="notification flash_error">
        <%= pluralize(@label.errors.count, "error") %> prohibited this publisher from being saved:
      </p>
      <ul>
      <% @label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="control-label">
      <%= f.label :name %>
    </div>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <div class="form-actions">
      <%= f.submit :class => 'btn btn-warning' %>
      <%= submit_tag 'Cancel', :type => 'button', :class => 'btn btn-info', 
                     :onclick => "location.href = '#{labels_path()}'" %>
    </div>
  </div>
<% end %>
