<%= form_for(@author, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <p class="notification flash_error">
        <%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:
      </p>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="control-label">
      <%= f.label :first_name, 'First Name' %>
    </div>
    <div class="controls">
      <%= f.text_field :first_name, :placeholder => 'First Name' %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :middle_name, 'Middle Name' %>
    </div>
    <div class="controls">
      <%= f.text_field :middle_name, :placeholder => 'Middle Name or Initial' %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :last_name, 'Last Name' %>
    </div>
    <div class="controls">
      <%= f.text_field :last_name, :placeholder => 'Last Name' %>
    </div>
  </div>
  <div class="control-group">
    <div class="form-actions">
      <%= f.submit :class => 'btn btn-warning' %>
      <%= submit_tag 'Cancel', :type => 'button', :class => 'btn btn-info', 
                     :onclick => "location.href = '#{authors_path()}'" %>
    </div>
  </div>
<% end %>
